.btn {
    display: flex;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    font-size: 24px;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.23);
    transition: background-color 200ms linear, box-shadow 250ms linear;
}

.btn:hover {
    background-color: #e69d83;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.23);
}

.good {
    color: darkgreen;
}

.neutral {
    color: black;
}

.bad {
    color: brown;
}